# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Virtual Environment
venv/
env/
ENV/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# Static files
staticfiles/

# Backup files
*.bak

# System files
.DS_Store
Thumbs.db
