Django==4.2
whitenoise==6.7.0
django-crispy-forms==2.3
crispy-bootstrap4==2024.10
pillow==10.4.0
django-location-field==2.7.1
django-bootstrap4==24.4
django-widget-tweaks==1.5.0
reportlab==4.2.5
xhtml2pdf==0.2.16
html5lib==1.1
pypdf==5.0.1
svglib==1.5.1
werkzeug==3.0.5
