Django==4.2
whitenoise==6.7.0
django-crispy-forms==2.3
crispy-bootstrap4==2024.10
pillow==10.4.0
django-location-field==2.7.1
django-bootstrap4==24.4
django-widget-tweaks==1.5.0
reportlab==4.2.5
psycopg2-binary==2.9.9
gunicorn==23.0.0
django-environ==0.11.2
xhtml2pdf==0.2.16
pypdf==5.0.1
html5lib==1.1
arabic-reshaper==3.0.0
python-bidi==0.6.0
babel==2.14.0
django-money==3.4.1
django-localflavor==4.0
